# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtualenv
venv/
ENV/
.env
.env.*

# Django
*.log
staticfiles/
media/

# SQLite databases
*.sqlite3
/db.sqlite3

# IDEs and editors
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Coverage and test
.coverage
htmlcov/
.pytest_cache/

# Migrations cache (keep migrations themselves)
**/__pycache__/
